extends layout
block content
          .demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
            table.mdl-data-table.mdl-js-data-table.mdl-data-table.mdl-shadow--2dp
              thead
                tr
                  th.mdl-data-table__cell--non-numeric First Name
                  th Last Name
                  th Description
              tbody
                tr
                  td.mdl-data-table__cell--non-numeric
                  td 
                  td 
                tr
                  td.mdl-data-table__cell--non-numeric
                  td 
                  td 
                tr
                  td.mdl-data-table__cell--non-numeric
                  td 
                  td 
          .demo-graphs.mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col
          .demo-cards.mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
            .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .demo-separator.mdl-cell--1-col
            .demo-options.mdl-card.mdl-color--deep-purple-500.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--3-col-tablet.mdl-cell--12-col-desktop